<br><br>
<ion-title>Products</ion-title><br>
<ion-item *ngFor="let x of prods" (click)="detalles(x.id)">
<ion-card >
  <ion-img [src]="x.thumbnail" style="width: 100%;"></ion-img>
  <ion-card-content>
    <ion-card-title>{{x.title}}</ion-card-title>
    <ion-card-subtitle>Rating: {{x.rating}}</ion-card-subtitle>
    <ion-card-subtitle>$ {{x.price}}</ion-card-subtitle>
    <ion-card-subtitle>{{x.discountPercentage}}% off</ion-card-subtitle>
    <ion-card-subtitle>{{x.description}}</ion-card-subtitle>
  </ion-card-content>
</ion-card>
</ion-item>
